<% @categories = ProductCategory.all.limit(3)%>
<% @categories.each do |categoryObj|%>
	<% if categoryObj.quantity && categoryObj.quantity.to_i > 0 %>
	             	 <div class="col-sm-3 col-md-4 col-lg-4">
	             		<div class="well">
	             			
	                                <h3><%= categoryObj.name %></h3>
	                                <% categoryObj.images.each do |c|%>
                                	<%= image_tag(c.thumb.url) %>
                                	<% end %>
	                                <b>Price</b> <%= categoryObj.price %>
	                               <!--  <p>Description <%= categoryObj.description %></p> -->
	                                <%= link_to 'Buy',buy_item_path(categoryObj), data: {confirm: 'Are You Sure?'} %>
	            	    		 
	       					</div>	
						</div>	
	    	<% end %>
	   
	<% end %>
