
<div class="container">
    <div class="card"
    <h2>New Product</h2>
    <%= form_for(:product) do |f| %>
        <%= f.label :"Product Name" %><br />
        <%= f.text_field :product_name, autofocus: true %></br></br>
        <%= f.submit :"save", remote: true%>
        <%= f.submit :"cancel"%>
    <% end %>
    </div>
</div>