<div class="container">
      <div class="card">
        <%= form_for :product_category, url: product_category_path(@product_category), method: :put do |f| %>
            <% if @product_category.errors.any?%>
                <% @product_category.errors.full_messages.each do |msg| %>
                    <%= msg %>
                    <% end %>
            <% end %>
            <div class="well">
                    <div class="input-group">
                    <%= f.label :'Category Name'%><br>
                    <%= f.text_field :name %>
                    </div>
                    <div class="input-group">
                    <%= f.label :'Price'%><br>
                    <%= f.text_field :price %>
                    </div>
                    <div class="input-group">
                    <%= f.label :'Quantity'%><br>
                    <%= f.text_field :quantity %>
                    </div>
                    <div class="input-group">
                    <%= f.label :'Description'%><br>
                    <%= f.text_field :description %>
                    </div>
                    <div class="input-group">
                    <%= f.submit(:edit, {class: 'btn btn-primary'}) %>
                    <%=link_to 'cancel', admindashboard_path, class: 'btn btn-primary'%>
                    </div>
            </div>
        <% end %>
    </div>
</div>