<div class="container">
	<div class="card">
	<%= form_for :confirm , url: buy_confirm_path(@product_category) do |f| %>
    	 <h3><%= @product_category.name %></h3>
    	  <div class= "flash-messages" >
           <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
  		</div>	
    	 <p align="center"><% @product_category.images.each do |c|%>
	            <%= image_tag(c.thumb.url) %>
	     <% end %>
	     <b>Price</b> <%= @product_category.price %></p>
	     <p><b>Description</b> <%= @product_category.description %></p>
	     <b>Quantity:-</b> 	<%= f.text_field(:quantity)%><br><br>
	     <%= f.submit "confirm", class:"btn-success" %><br>
   <% end %>
    </div>
</div>