<div class="container">
<% cnt= 0 %>
<%=link_to 'back', homepage_path %>
<br>
<% if @product.product_categories.present? %>
	<% @categories = @product.product_categories.paginate(:page => params[:search], :per_page => 3)%>
		<div class="pagination">
				<%= will_paginate @categories,param_name: "search" %>
		</div>
	<br>
	<h2><%= @product.product_name%></h2>
	<% @categories.each do |categoryObj|%>
	             	<% if categoryObj.quantity.to_i > 0 %>
	             	 <div class="col-sm-12 col-md-4 col-lg-4">
	             		<div class="well">
	                                <h3><%= categoryObj.name %></h3>
	                                <p><% categoryObj.images.each do |c|%>
	                                <%= image_tag(c.thumb.url) %>
	                                <% end %>
	                                <b>Price</b> <%= categoryObj.price %>
	                               <%= link_to 'Add to Cart',buy_item_path(categoryObj)%></p>            
	            	     </div>
	       			</div>
	                  <% else %>
	                     <% cnt = cnt + 1%>
	                <% end %>
	<% end %>
<% end %>
<% if cnt == @categories.length %>
	<div class="well">
     <p>No List Found...</p>
 </div>
<% end %>
</div>
