
  <ul class="nav nav-tabs">
            <% @products.each do |p|%>
              <% if p.product_categories.present? %>
                
                  <% p.product_name[0] = p.product_name[0].capitalize %>
               <li><%= link_to "#{p.product_name}", buyCategoryList_path(p), id: 'list'%></li>
                
              <% end %>
            <% end %>
          </ul>

          <br><br><br><br><br>
  <div class= "flash-messages" >
           <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
  </div>   
        <div class="search-bar">
          <%= render "user/partials/search_form"%> 
        </div>

        <div class="container">
          <%= render "product_categories/partials/slidebar"%> 
        </div>
         