<% @categories.each do |categoryObj|%>
	<% if categoryObj.quantity && categoryObj.quantity.to_i > 0 %>
<<<<<<< HEAD
	             	 <div class="col-sm-3 col-md-4 col-lg-4">
	             		<div class="well">
	                                <h3><%= categoryObj.name %></h3>
	                                <p>Price <%= categoryObj.price %></p>
	                                <p>Description <%= categoryObj.description %></p>
	                                <p><%= link_to 'Buy',buy_item_path(categoryObj), data: {confirm: 'Are You Sure?'} %></p>            
=======
	             	 <div class="col-sm-12 col-md-3 col-lg-4">
	             		<div class="well">
	                                <h3><%= categoryObj.name %></h3>
	                                <% categoryObj.images.each do |c|%>
                                	<%= image_tag(c.thumb.url) %>
                                	<% end %>
	                                <p>Price <%= categoryObj.price %></p>
	                                <p>Description <%= categoryObj.description %></p>
	                                <p><%= link_to 'Add to Cart',buy_item_path(categoryObj)%></p>            
>>>>>>> 17a6b8d36b5f1664ccffcb084538eb9bd23297bd
	            	     </div>
	       			</div>	

	    <% end %>
	   
<% end %>


		