<html lang="en">
    <head>
      <title>Shopping Cart</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= stylesheet_link_tag 'user' %>
      <%= stylesheet_link_tag  'bootstrap_css/bootstrap.min.css' %>
      <%= javascript_include_tag 'bootstrap_js/jquery.min.js' %>
      <%= javascript_include_tag 'bootstrap_js/bootstrap.min.js' %>
    </head>
    <body>
    <% if user_signed_in? %>
      <%= render template: 'layouts/user/partials/_login_nav' %>  
    <% else %>
        <%= render template: 'layouts/user/partials/_navbar' %>
    <% end %>
          <%= render template: 'layouts/user/partials/_productsList' %>
          <br><br><br>
          <%= render template: 'layouts/user/partials/_searchbox' %>
          <br><br><br><br><br>

          <%= render template: 'layouts/user/partials/_panel' %>
      <footer class="container-fluid text-center">
          <p>Online Store Copyright</p>  
          <form class="form-inline">Get deals:
            <input type="email" class="form-control" size="50" placeholder="Email Address">
            <button type="button" class="btn btn-danger">Sign Up</button>
          </form>
      </footer>

    </body>
</html>
