
<div class="row">
        <div class="col s12 m6">
          <div class="card white">
            <div class="card-content black-text">
              <span class="card-title">Registration form</span>
              <%= form_tag({:controller=> "student", :action=>"show"},:method=>"get")do %>         
              <%= label_tag :firstname %>
              <%= text_field_tag :firstname %>

              <%= label_tag :lastname %>
              <%= text_field_tag :lastname %>

              <%= label_tag :emailid %>
              <%= email_field_tag :emailid %>

              <%= label_tag :mobilenumber %>
              <%= telephone_field_tag :mobilenumber %>

              <%= label_tag :date_of_birth %>
              <%= date_field_tag :date_of_birth%>

              <%= label_tag :gender %><br>
              <%= radio_button_tag(:gender, "male") %>
              <%= label_tag(:gender_male, "Male") %>
              <%= radio_button_tag(:gender, "female") %>
              <%= label_tag(:gender_female, "Female") %><br>

              <%= label_tag :skills %><br>
              <%= check_box_tag(:c1) %>
              <%= label_tag(:c1, "C++") %>
              <%= check_box_tag(:c2) %>
              <%= label_tag(:c2, "JAVA") %>
              <%= check_box_tag(:c3) %>
              <%= label_tag(:c3, ".net") %>
              <%= check_box_tag(:c4) %>
              <%= label_tag(:c4, "ROR") %>
              <br>

              <%= label_tag :password %>
              <%= password_field_tag :password %>

              <%= label_tag :confirm_password %>
              <%= password_field_tag :confirm_password %>
              <%= submit_tag :"submit" %>
             <% end %>
           </div>
          </div>
        </div>
      </div>