<div class="container">
      <div class="card">
<%= link_to 'New Product', new_product_path,class: 'btn btn-primary', id: 'new_product_link'%>
        <h1>Product</h1>
        <table>
        <% @products.each do |p|%>
            <tr>
                <td class="product-row"><%= p.product_name %></td>
                <td class="product-row"><%= link_to 'Edit',edit_product_path(p), class: 'btn btn-primary' %></td>
                <td class="product-row"><%= link_to 'View',list_categories_path(p), class: 'btn btn-primary' %></td>
                <td class="product-row"><%= link_to 'Delete',delete_product_path(p),method: :delete, data: {confirm: 'Are You Sure?'}, class: 'btn btn-danger' %></td>
           </tr>
        <% end %>
        </table>
 </div>
</div>

